.pkp_site_name {
	text-align: center !important;
}

.is_img > img {
	/*max-height: none !important;
    width: 150% !important;
    */
	margin-top: 30px !important;
	max-height: 300px !important;
}

.additional_content {
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
		"Cantarell", "Helvetica Neue", sans-serif !important;
	font-weight: 500 !important;
}

.pkp_footer_content {
	text-align: justify !important;
	float: left !important;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu",
		"Cantarell", "Helvetica Neue", sans-serif !important;
}

.pkp_brand_footer {
	margin-right: 20px !important;
	padding-top: 40px !important;
}

body {
	background: whitesmoke;
}

.pkp_structure_head {
	background: #1e1c1d;
}
